---
permalink: /about/index.html
title: "About"
subtitle: Hiking & Stewardship
---

<section class="section">
  <div class="product-description">
    <p>
      We are a tiny company of two who love making products that our "kid selves" would've loved. At the same time, we recognize that highlighting natural areas has an impact on them.
    </p>
    <img src="/about/images/kate-kids-52.jpg" width="960" height="720"
      alt="Scott and Steve at Moosilauke Ravine Lodge after cleaning some drainages" loading="lazy">
    <p>  
      To try to offset this, we give back ~5% profits per year to great stewardship organizations such as the Appalachian Mountain Club 4000-Footer Committee, the Appalachian Trail Conservancy, and the Colorado Fourteeners Initiative. We also give sweat equity.
    </p>
    <img src="/about/images/scott-steve-mrl.jpg" width="4032" height="3024" alt="Scott and Steve at Moosilauke Ravine Lodge after cleaning some drainages" loading="lazy">
    <p>
      Indeed, we hoodwink family, friends, and even our pets into doing trail maintenance. We also choose our product materials and production partners carefully.
    </p>
    <img src="/about/images/john-hurricane-trail.jpg" width="4032" height="3024" alt="John after felling a huge widowmaker pine tree along the Hurrican Trail" loading="lazy">
    <p>
      We produce each one of our products as locally as possible. New England products are made in New England, Colorado products in Colorado, and so on. We work diligently to identify products with the Forest Stewardship Council seal and are constantly evaluating newfangled processes like algae ink.
    </p>
    <p>
      We collaborate with our <a href="/where-to-buy/">great retailers</a> to limit or avoid superfluous packaging. When packaging is requested, we strive to source products from eco-friendly vendors such as <a href="https://www.ecoenclose.com/">EcoEnclose</a>.
    </p>
    <p>
      Ultimately, we recognize the best way to reduce our impact on the world is to want less, so we won't be offended if you don't buy anything from us!
    </p>
    <p>
      In the words of Antoine de Saint-Exupéry, "<mark>Perfection is achieved, not when there is nothing more to add, but when there is nothing left to take away.</mark>"
    </p>
    <img src="/about/images/dad-glencliff.jpg" width="4032" height="3024"
      alt="Dad walking through the meadows on the Glencliff Trail" loading="lazy">
    <img src="/about/images/steve-dogs.jpg" width="4032" height="3024" alt="Even dogs are recruited for trail work"
      loading="lazy">
    <img src="/about/images/steve-lift-big-birch.jpg" width="2048" height="1396"
      alt="Steve attempts to move a big soggy birch tree" loading="lazy">
  </div>
</section>
