---
permalink: "/"
---

{% for product in collections.products %}
  {% if forloop.first %}
    <ol>
    {% endif %}
    <li>
      <h2>
        <a href="/products/{{ product.data.title | slugify }}/">{{ product.data.title }}</a>
      </h2>
      {{ product.data.meta_desc | markdownify }}
    </li>
    {% if forloop.last %}
    </ol>
  {% endif %}
{% endfor %}